@model ProgramaEgresadoSena.Models.SE_Usuarios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SE_Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipodoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipodoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aprendiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aprendiz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.egresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.egresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaformacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaformacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_egresado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_egresado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.barrio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.barrio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_registro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
